*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url("images/background.png");
    background-attachment: fixed;
    background-size: 100% 100%
}

h1, h2, h3{
    font-family: 'Lato', sans-serif;
    margin: 1em 0;
}

p, img{
    margin: 0.6em;

}

#header{
    margin: 80px 0;
    text-align:center;
}

#header img{
    display:inline-block;
    height: 100%;
    vertical-align:middle;
    height: 10%;
    width: auto;
}

#content{
    width: 85%;
    height: auto;
    background-color: #222222;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

#content:after{
   content: " ";
   display: block; 
   height: 0; 
   clear: both; 
}

.comparisons td{ 
        width: 50%;
        height: auto;
        vertical-align: top;
}

.quote{
        line-height: 200%;
}
